/*------------------------------------*\
    RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
    v2.0b1 | 201101
    NOTE:WORK IN PROGRESS
    USE WITH CAUTION AND TEST WITH ABANDON */

html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{
    display:block;
}
body{
    line-height:1;
}
ol,ul{
    list-style:none;
}
blockquote,q{
    quotes:none;
}
blockquote:before,blockquote:after,
q:before,q:after{
    content:’’;
    content:none;
}
/* remember to define visible focus styles!
:focus{
    outline:?????;
} */

/* remember to highlight inserts somehow! */
ins{
    text-decoration:none;
}
del{
    text-decoration:line-through;
}

table{
    border-collapse:collapse;
    border-spacing:0;
}





/*------------------------------------*\
    $MAIN
\*------------------------------------*/
/* GO! */
body
{
    display:block;
    position:relative;
}
div.full {
    display:block;
    position:relative;
    width:auto;
    height:auto;
    max-width:100%;
padding:0;
border:0;
    margin:0 auto;
    clear: both;
}

div.full-bottom {
    display:block;
    position:relative;
    width:auto;
    height:auto;
    max-width:100%;
padding:0;
border:0;
    margin:0 auto;
    clear: both;
}

div.full-bottom img{
    display:block;
    width:auto;
    height:auto;
    max-width:100%;
padding:0;
border:0;
    margin:0 auto;
}

div.full img{
    display:block;
    width:auto;
    height:auto;
    max-width:100%;
padding:0;
border:0;
    margin:0 auto;
}

div.full h2
{
    font-family: Ubuntu, sans-serif;
    font-weight: bold;
    position: absolute;
    top: 40%;
    left: 21.4%;
    padding-left: 6.5%;
    padding-right: 6.5%;
    padding-top: 2%;
    padding-bottom: 2%;
    background: #000;
    color: #fff;
    font-size: 4vw;
}

div.full h5
{
    font-family: Ubuntu, sans-serif;
    font-weight: bold;
    position: absolute;
    top: 54%;
    left: 35.7%;
    padding-left: 6.5%;
    padding-right: 6.5%;
    padding-top: 2%;
    padding-bottom: 2%;
    color: #000;
    font-size: 1.6vw;
}

input[type="email"]
 {
     border: 1px solid #d66;
     position: absolute;
     top: 80%;
     left: 23%;
     width: 41%;
     height: 5%;
     padding:0;
 }
.blurb
{
    font-family: Ubuntu, sans-serif;
    font-size: 1.8vw;
    position: absolute;
    top: 54.55%;
    left: 23%;
    max-width: 53%;
    line-height: 150%;
}
 button[type="submit"]
  {
      font-family: Ubuntu, sans-serif;
      border: 1px solid #000;
      font-weight: bold;
      font-size: 1.6vw;
      position: absolute;
      top: 80%;
      left: 65.3%;
      background: #000;
      color: #fff;
      height: 5%;
      width: 14.2%;
  }
