/*------------------------------------*\
    RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
    v2.0b1 | 201101
    NOTE:WORK IN PROGRESS
    USE WITH CAUTION AND TEST WITH ABANDON */

html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{
    display:block;
}
body{
    line-height:1;
}
ol,ul{
    list-style:none;
}
blockquote,q{
    quotes:none;
}
blockquote:before,blockquote:after,
q:before,q:after{
    content:'';
    content:none;
}


/*------------------------------------*\
    MAIN
\*------------------------------------*/
$color_red: #d04040;

body {
    font: { family: 'Ubuntu', sans-serif; weight: bold; }
    overflow-x: hidden;
}

.year {
    position: absolute;
    top: 0;
    width: 100%;
    
    .parallax_wrapper {
        position: relative;
        top: 0;
    }
        
    .parallax_layer {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
    
    img {
        width: 100%;
    }
}

.title {
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 600px;
    
    h1 {        
        display: inline;
        font: { size: 3em; }
        background-color: #000;
        color: #fff;
        padding: 24px 80px;
    }
    
    h2 {
        margin-top: 52px;
        
        font: { size: 1.2em; }
        text: { transform: uppercase; }
        color: #000;
    }
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
    width: 100%;
    padding-top: 100px;
    text-align: center;
    
    form {
        margin: 120px 0 0;
    }
    
    label {
        display: block;
        margin-bottom: 10px;
        
        font: { weight: normal; }
    }
    
    input[type="email"] {
        box-sizing: border-box;
        height: 54px;
        width: 525px;
        padding-left: 18px;
        margin-right: 8px;
        
        font: { weight: normal; }
        
        border: 2px solid #d04040;
        outline: none;
    }
    
    input[type="submit"] {
        position: relative;
        top: -1px;
        
        height: 54px;
        width: 182px;
        
        text: { transform: uppercase; }
        background-color: #000;
        color: #fff;
        
        border: none;
        outline: none;
        
        &:hover {
            background-color: $color_red;
        }
    }
}

.text {
    position: relative;
    box-sizing: border-box;
    z-index: 3;
    
    padding: 120px 20px 0;
    width: 100%;
    height: 800px;
    
    background: url(../img/triangle_bottom.png) no-repeat bottom center;
    background-size: 100% 500px;
    
    font: { family: 'Ubuntu', sans-serif; weight: normal; size: 1.2em; }
    
    p {
        text: { align: left; }
        line-height: 1.5em; 
        
        width: 100%;
        max-width: 600px;
        margin: 0 auto 30px;
    }
    
    div {
        position: absolute;
        bottom: 75px;
        right: 12%;
    }
    
    a {
        text-decoration: none;
        color: #fff;
        
        &:hover {
            color: #ddd;
        }
    }
}

@media only screen and (max-width: 800px) {
    .title h1 {
        font-size: 2em;
    }
    
    .content {
        top: 14vw;
        -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }
    
    .content form {
        padding: 0 20px;
        
        input {
            display: block;
            width: 100%;
            max-width: 600px;
            margin: 0 auto;
        }
        
        input[type="submit"] {
            margin-top: 10px;
        }
    }
    
    .text {
        padding-top: 20px;
        
        p {
            position: relative;
            top: -100px;
        }
    }
}

@media only screen and (max-width: 550px) {
    .title h1 {
        font-size: 1.6em;
        padding: 24px 30px;
    }
    
    .content span {
        font-size: .75em;
    }
    
    #layer-1, #layer-2 {
        width: 200%
    }
    
    #layer-2 {
        margin-top: 100%;
    }
}