@import 'jeet/index';

$blue:        #0c2231; // for background
$black:       #161515; // for section headers
$dark-grey:   #514e4e; // for body text
$medium-grey: #a5a5a5; // for greyed out text
$light-grey:  #d0d0d0; // for dividing lines
$nav-grey:    #7a7a7a; // for nav
$red:         #d04040; // for accent
$muted-red:   #d68f8f;

html, body {
	font-family: 'Lora', serif;
	background: url(../img/dot.png) fixed;
}

svg {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}

svg path {
  opacity: .3;
  fill: none;
  stroke: $red;
  stroke-width: 1.5px;
  stroke-linecap: rounded;
}

h1, h2, h3, h4, h5, h6, nav {
	font-family: 'Ubuntu', sans-serif;
	color: $black;
}

hr {
	border-style: solid;
	border-bottom: none;
}

a {
	text-decoration: none;
}

h1 {
	position: fixed;
	margin: 20px auto 0;
	left: 0; right: 0;

	width: 220px;
	font-size: 1em;
	font-weight: 300;
	text-align: center;
	color: #fff;
}

h3 {
	margin: 0;
}

nav#desktop-nav {
	position: fixed;
	top: 50%;
	transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	-moz-transform: translate(0, -50%);
	right: 0;
	z-index: 5;

	font: { weight: 300; size: .8em; }
	text: { transform: uppercase; }

	letter-spacing: 1px;

	ul {
		list-style: none;
		padding: 0;
	}

	li {
		display: block;
		margin-bottom: 20px;

		text-align: right;
		color: $nav-grey;

		cursor: pointer;
		transition: color 0.2s;
	}

	a {
		display: inline-block;
	}

	a::after {
		display: inline-block;
		content: "";
		margin-left: 16px;
		margin-right: 60px;

		height: 10px;
		width: 10px;

		background-color: $nav-grey;

		transition: background-color 0.2s, width 0.2s, margin-right 0.2s;
	}

	li:hover, li.active {
		color: $light-grey;

		a::after {
			background-color: $light-grey;
			margin-right: 0;
			width: 70px;
		}
	}
}

nav#mobile-nav {
	display: none;
	z-index: 5;

	@include cf();
	position: fixed;
	top: 0;
	width: 100%;
	background-color: $blue;
	border-bottom: 2px solid $light-grey;

	color: $nav-grey;
	font: { weight: 300; size: .9em; }
	text: { transform: uppercase; }

	ul {
		list-style: none;
		padding: 0;
		width: 100%;
	}

	li {
		@include span(1/4);
		transition: .1s color;
		text-align: center;
		padding-top: 5px;
		padding-bottom: 10px;

		cursor: pointer;
	}

	li:hover, li.active {
		color: $light-grey;

		border-bottom: 6px solid $light-grey;
	}
}

section {
	box-sizing: border-box;
	padding-top: 200px;

	p {
		color: $dark-grey;
	}

	.content {
		position: relative;
		z-index: 2;

		background-color: #fff;
		margin-left: 150px;
	}

	.right {
		margin-left: auto;
		margin-right: 240px;
	}

	&:last-of-type {
		padding-bottom: 200px;
	}
}

section.home {
	min-height: 600px;
	padding-top: 260px;

	h2 {
		position: relative;
		margin-left: 150px;
		padding-right: 200px;

		font-weight: 700;
		font-size: 4em;
		color: #fff;

		z-index: 2;
	}
}

section.about {
	line-height: 1.4;

	.content {
		position: relative;

		padding: 50px 140px 35px 70px;
		max-width: 625px;
		overflow: hidden;
	}

	hr {
		border-color: $red;
		margin: 60px 0 0;
		width: 200px;
	}

	.more {
		margin: 20px 0 10px;
		display: block;
		font: {
			family: 'Ubuntu', sans-serif;
			style: italic;
			size: .8em;
			weight: 400;
		}

		color: $medium-grey;
	}

	.links {
		hr {
			width: 100%;
			margin-top: 11px;
			border-color: $black;

			transition: opacity .6s;
		}
	}

	a {
		font-family: 'Ubuntu', sans-serif;
		color: $red; 
		cursor: pointer;
		padding: 0 15px 10px;

		transition: color 0.1s;

		&:hover {
			color: $muted-red;
		}

		&.active, &:hover {
			border-bottom: 4px solid $red;
		}

		&:first-child {
			padding-left: 0;
		}

	}

	.register-button{
		display: block;

		font-weight: 700;
		border: 2px solid $red;
		padding: 10px 0;

		text-align: center;
		text-transform: uppercase;

		transition: color .2s, background-color .2s;

		&:hover{
			color: #fff;
			background-color: $red;
		}
	}

	.line {
		position: relative;
		top: -3px;
		font-size: .8em;
		color: $medium-grey;
	}

	.center {
		display: block;
		text-align: center;
	}

}

section.speakers {
	.content {
		@include cf();
		padding: 50px 0 35px 70px;
		max-width: 600px;
	}

	figure {
		@include col(1/3, $cycle: 3, $gutter: 2);
	}

	img {
		width: 100%;
	}

	h4 {
		font-family: 'Lora';
		font-weight: normal;
		margin: 4px 0 0;
		color: $dark-grey;
	}
}

section.schedule {
	.content {
		@include cf();
		padding: 50px 40px 30px;
		max-width: 700px;
	}

	.col {
		@include col(1/2, $cycle: 2);
	}

	ul {
		list-style: none;
		padding: 0;
	}

	li {
		border-bottom: 1px solid $light-grey;
		padding: 10px 6px;

		font-family: 'Lora';

		small {
			display: inline-block;

			font-family: 'Ubuntu';
			font-weight: 300;
			color: $medium-grey;
			width: 50px;
		}

		span {
			display: none;
			float: right;
		}
	}

	li:last-child {
		border: none;
	}
}

section.faq {
	.content {
		@include cf();
		padding: 50px 40px 30px;
		max-width: 650px;
	}

	hr {
		border-color: $light-grey;
	}

	.questions {
		@include cf();

		> div {
			@include col(1/2, $cycle: 2);
		}

		a{
			color: $red;

			&:hover{
				color: $muted-red;
			}
		}
	}

	h4 {
		margin-bottom: 0;
	}

	h5 {
		margin-bottom: 0;
	}

	.address {

		a {
			display: block;
			margin-top: 6px;
			color: $medium-grey;
			font-size: .9em;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	p {
		margin-top: 4px;
		font-size: .9em;
		line-height: 1.3;
	}
}


section.sponsors {
	.content {
		@include cf();
		padding: 50px 40px 30px;
		max-width: 700px;
	}

	h3 {
		margin-bottom: 50px;
	}

	img {
		@include col(1/2, $cycle: 2);
	}
}

/* taken from Matt Boldt's 'Typed.js' */ 
.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}


@media only screen and (max-width: 1170px) {
	nav#desktop-nav {
		display: none;
	}

	section {
		.content, &.home h2 {
			margin-left: 100px;
		}
		.right {
			margin-right: 100px;
			margin-left: auto;
		}
	}
}

@media only screen and (max-width: 950px) {
	nav#mobile-nav {
		display: block;
	}

	h1 {
		position: absolute;
		top: 60px;
	}

	section {
		padding: 10px 10px 10px;

		.content {
			margin: 0;
			max-width: 100% !important;
		}
	}

	section.home {
		padding: 260px 20px 0;

		h2 {
			font-size: 2.8em;
			margin: 0;
			padding: 0;
		}
	}

	section {
		.content {
			padding: 30px 20px !important;
		}
	}
}

@media only screen and (max-width: 700px) {
	section.about {
		.links {
			.line {
				display: none;
			}

			a {
				padding-left: 0;
				padding-right: 30px;
				padding-bottom: 0;
				color: $muted-red;

				&:hover, &.active {
					border: none;
					color: $red;
				}
			}

			hr {
				margin-top: 4px;
			}
		}
	}
}

@media only screen and (max-width: 600px) {
	section.home {
		h2 {
			font-size: 2.5em;
		}
	}

	section.schedule {
		.col {
			@include stack();
		}
	}

	section.faq {
		.questions {
			> div {
				@include stack();
			}
		}
	}
}

